@font-face {
    font-family: 'Morison';
    src: url('./portfolio/ressources/font/morison-displaylight-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Paul';
    src: url('./portfolio/ressources/font/Paul-Grotesk-Stencil-Light.woff') format('woff');
}


body{
    background-color: #222222;
}
body h1,p{
    color: white;
    font-family: 'Morison', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15vw;
    gap: 2vw;
}
.portfolio{
    align-items: center;
    text-align: center;
    width: 20vw;
    padding-bottom: 1vw;
    padding-top: 1vw;
    padding-left: 2vw;
    padding-right: 2vw;
    background-color: white;
    border-radius: 25px;
    text-decoration: none;
    color: #222222;
    font-size: 1.5vw;
    font-family: 'Morison', sans-serif;
    transition: 0.5s;
    border: solid 1px #222222;
}
.portfolio:hover{
    background-color: #222222;
    color: white;
    transition: 0.5s;
    border: solid 1px white;
}
@media only screen and (max-width: 959px) {
    .container{
        margin-top: 20vw;
    }
    .portfolio{
        width: 60vw;
        font-size: 4vw;
    }
}